* {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #f6f8fc;
  font-family: "Montserrat", sans-serif;
  background-image: url("../public/bg-hero-desktop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  max-width: 100%;
}

svg {
  position: absolute;
  bottom: -47px;
}
